<h3 class="header">Catalog upload</h3>
<p class="body">
    Provide excel catalog file to update state of items!
</p>

<div fxLayout="column" fxLayoutAlign="center" class="container uploadfilecontainer padding:5px" (click)="fileInput.click()">
    <div *ngIf="!fileToUpload; else fileSelectedTemplate">
        Click here to upload file!
    </div>
    <ng-template #fileSelectedTemplate>
        <div>{{fileToUpload.name}}</div>
        <div *ngIf="!uploadInProgress">You can still change file clicking here</div>
    </ng-template>
    <input hidden type="file" accept=".xlsx" #fileInput (change)="handleFileSelect($event.target.files)">

    <mat-progress-bar *ngIf="uploadInProgress" class="example-margin" [color]="color" [mode]="mode">
        
    </mat-progress-bar>
    <ng-container *ngIf="errorMessage">{{errorMessage}}</ng-container>
</div>
<div class="catalogSelectorContainer" (click)="cleanErrorMsg()">
    <mat-selection-list #selectCatalog [(ngModel)]="selectedCatalogsToUpload">
        <mat-list-option *ngFor="let catalog of catalogs" [value]="catalog">
                <mat-icon matListIcon>chevron_right</mat-icon>
                <p matLine>{{catalog}}</p>
        </mat-list-option>
    </mat-selection-list>
    <button [disabled]="uploadBlocked() || uploadInProgress" class="uplBtn" mat-raised-button color="primary" (click)="startFileUpload()">Upload</button>
</div>

<div *ngIf="parsedCatalogs">
    <app-import-result-table [importDto]="parsedCatalogs"></app-import-result-table>
</div>