.uploadfilecontainer {
  // background-image: url("../../assets/cloud-2044823_960_720.png");
  // background-repeat: no-repeat;
  // background-size: 100px;
  // background-position: center;
  text-align: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1c8adb;
  border-radius: 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.body,
.header {
  text-align: center;
}

.catalogSelectorContainer {
  width: 30%;
  margin: 10px auto;
}
.uplBtn {
  width: 100%;
}

.example-margin {
  align-self: flex-end;
}
