
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.new {
  // color: #f9a825;
  // border: #f9a825;

  margin: 1x;  
  padding: 4px;  
  // float: left;  
  border-radius: 8px;  
  border: 2px solid #f9a825;
}

.new-icon {
  color: #f9a825;
  transform: rotate(-180deg);

  position: relative;
  top: 7px;
  // margin-left: -30px; /* optional */
  display: inline-flex;
  vertical-align: baseline;
}