<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list >
            <a mat-list-item *ngFor="let catalog of catalogList" (click)="onSelect(catalog)">{{catalog.name}}</a>
            <mat-divider [inset]="false"></mat-divider>
            <a mat-list-item (click)="onUploadSelect()">Catalog upload</a>
            <a mat-list-item (click)="onShowCatalog()">Show catalog</a>
            <a mat-list-item (click)="onSearchSelect()">Search linen</a>
            <a mat-list-item (click)="onTutor()">Tutor page</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>mini-shop</span>
        </mat-toolbar>
        <second-page *ngIf="showOneCatalog" [catalog]="selectedCatalog"></second-page>
        <file-upload-page *ngIf="showUploadPage" ></file-upload-page>
        <app-linen-catalog-table *ngIf="showCatalogTable"></app-linen-catalog-table>
        <app-linen-byname-search *ngIf="showLinenSearch"></app-linen-byname-search>
        <app-tutor-page *ngIf="showTutorPage"></app-tutor-page >
    </mat-sidenav-content>
</mat-sidenav-container>