.card {
    max-width: 400px;
    min-width: 300px;
}

.icon-color-ok {
    color: #EE5C00;
}

.example-card mat-slide-toggle {
    margin: 8px 0;
    display: block;
}

.center {
    justify-content: center;
    align-items: center;
}