<div *ngIf="!suggestProductImages || suggestProductImages.length == 0">
    Everything is clean and shiny
</div>
<div *ngIf="suggestProductImages && suggestProductImages.length != 0">
    <ng-container *ngFor="let product of suggestProductImages">
        <div fxLayout="row wrap " fxLayout.lt-sm="column " fxLayoutAlign="flex-start " class="container padding:5px"
            ngDefaultControl>
            <!-- <h2>{{product.name}}</h2> -->
            <!-- <h3>{{product.category}}</h3> -->
            <ng-container>
                <div fxLayout="column" fxLayout.lt-sm="column " fxLayoutAlign="flex-start "
                    class="container padding:5px" ngDefaultControl>

                    <p class="mat-title ">Product: {{product.name}}</p>
                    <p>{{product.category}}</p>
                </div>
            </ng-container>

            <ng-container *ngFor="let image of product.images">

                <mat-card class="card" fxFlex="0 1 calc(33.3% - 32px) " fxFlex.lt-md="0 1 calc(50% - 32px) ">
                    <mat-card-content>
                        <img mat-card-image [src]="imageUrl(image)" loading="lazy"/>
                    </mat-card-content>
                    <mat-card-actions>
                        <div fxLayout="row wrap ">
                            <label>{{image.filename}}</label>
                            <span class="fill-remaining-space"></span>
                            <mat-checkbox (change)="onCheckBoxSelected(product, image, $event)">Select this pic</mat-checkbox>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
        <mat-divider></mat-divider>
    </ng-container>

    <button mat-fab color="primary" class="fab-container" (click)="confirmAndSend()"
        aria-label="Show an example snack-bar">
        Submit
    </button>
</div>